<div class="page-header">
    <h1>Recent changes</h1>
</div>

<% if @checks.size == 0 %>

    <p>No changes yet! <%= link_to "View accounts being tracked.", accounts_path %></p>
    <hr>

<% else %>
    <%= render partial: "accounts/check", collection: @checks %>
<% end %>

<%= link_to "Track a new account", new_account_path, :class => 'btn btn-outline' %>