<% provide(:title, "FAQs about trackping" ) %>

<div class="page-header">
    <h1>FAQs</h1>
</div>

<div class="content">

    <h2>What does this track?</h2>

    <ul>
        <li>New accounts the account follows</li>
        <li>New accounts that follow the account</li>
        <li>Accounts the account unfollows</li>
        <li>Accounts that unfollow the account</li>
    </ul>

    <h2>How often does it check?</h2>

    <p>Every hour.</p>

    <h2>How many accounts can I track at one time?</h2>

    <p>Due to Twitter's API limits, the current maximum number of accounts that can be tracked at one time is 15 accounts.</p>

    <h2>What if the account has 1,000,000 followers? Will you still track changes?</h2>

    <p>Currently the check will only look at the 5,000 most recent followers or friends.</p>

</div>