*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: @dark;
    color: #fff;
    .sans;
    line-height: 1.5;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    border-top: solid 3px @light;
}

a {
    color: @light;
    text-decoration: none;
    &:hover {
        color: lighten(@light, 10%)
    }
}

hr {
    height: 3px;
    border-radius: 2px;
    width: 80%;
    margin: 30px auto;
    border: 0;
    background-color: lighten(@dark,10%);
}

.btn {
    font-weight: bold;
    &.btn-outline {
        border: solid 2px @light;
        display: inline-block;
        padding: 7px 15px;
        border-radius: 5px;
        background-color: transparent;
    }
    &.btn-danger {
        color: #fb2222;
    }
}

.avatar {
    border-radius: 3px;
}

.container {
    width: 96%;
    margin: 0 auto;
    max-width: 600px;
}

.alert {
    background: #45c63f;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
}

.close {
    color: #fff;
    background-color: transparent;
    border: 0;
    margin-right: 5px;
    font-size: 18px;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

    .brand {
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        float: left;
    }

    .nav {
        float: right;
        list-style: none;
        margin: 0;
        li {

            a {
                font-size: 13px;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

.page-header {
    margin-bottom: 30px;
    overflow: auto;
    margin-top: 10px;
    h1 {
        margin-top: 7px;
        font-size: 1.8em;
    }
}

.media {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 20px;
    overflow: auto;
    //border-bottom: solid 1px lighten(@dark, 10%);
    &.media-half {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        border-bottom: none;
        margin-bottom: 30px;
        padding-bottom: 0;
    }
    &.media-full {
        .media-image {
            width: 15%;
            margin-right: 0;
        }
        .media-content {
            width: 85%;
            float: right;
            h3 {
                margin-bottom: 7px;
            }
        }
    }
}

    .media-image {
        float: left;
        margin-right: 20px;
    }

    .media-content {
        color: #fff;
        h3 {
            margin: 0;
            font-weight: bold;
            font-size: 16px;
            a {
                color: #fff;
            }
            span {
                font-weight: normal;
                color: @light;
                font-size: 14px;
            }
        }
        h4 {
            font-size: 14px;
            margin: 0;
            font-weight: normal;
        }
    }

    .media-content-details {
        h4 {
            color: lighten(@dark, 30%);
            margin-bottom: 10px;
            border-bottom: solid 1px lighten(@dark,10%);
        }
    }

.accounts-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 20px;
    li {
        vertical-align: middle;
        font-size: 14px;
        margin-bottom: 5px;
        img {
            position: relative;
            top: 6px;
            margin-right: 5px;
        }
    }
}

.form {
    label {
        display: block;
        margin-bottom: 3px;
    }
    input[type="text"],
    input[type="email"] {
        width: 100%;
        border: none;
        padding: 15px 12px;
        border-radius: 3px;
        color: #999;
        .sans;
        font-size: 18px;
        margin-bottom: 10px;
        &:focus {
            outline: none;
        }
    }
    input[type="submit"] {
        width: 40%;
        background-color: darken(@light, 15%);
        border-radius: 3px;
        border: 0;
        padding: 15px;
        &:hover {
            background-color: @light;
        }
    }
}

.footer {
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
}